<!DOCTYPE html>
<html>
<head>
    <title>HSSS - Stats</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="http://oss.maxcdn.com/clusterize.js/0.15.0/clusterize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">He Said She Said - Stats</a>
            <ul id="nav-mobile" class="right hide-on-med-and-dowm" style="height:inherit">
                <li style="height:inherit">
                    <a href="https://github.com/ghmeier/hesaidshesaid" style="height:inherit">
                        Find it on Github.
                    </a>
                </li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="container">
    </div>
    <a id="refresh" class="waves-effect waves-light btn-large" style="position:fixed;bottom:45px;right:24px;"><i class="material-icons left">replay</i>Refresh</a>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://oss.maxcdn.com/clusterize.js/0.15.0/clusterize.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="./functions.js"></script>
    <script>
        $(document).ready(function(){

        });
    </script>
</body>
</html